<div class="container">
  <div class="contents">
    <img src="assets/palmtree.jpg" class="img-thumbnail">
    <p>好きなことをツイートするアプリです</p>
    <a class="btn btn-primary" href="clones/new" role="button">ツイート</a>
    </div>
  </div>
</div>
